.container{
    text-align: center;
    margin: top: 23px;

}
table
{
    margin: auto;
}
input{
    border: 5px solid ;
    font-size: 34px;
}
button{
    font-size: 40px;
    background-color: cyan;
    width: 102px;
    height: 58px;
    boar
}

